@import "tailwindcss" theme(static);
@source "../views/";
@source "../../app/";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@layer base {
  * {
    margin: revert;
    box-sizing: border-box;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: revert;
    font-weight: revert;
  }
}


html,
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #111111;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    /*background-color: #000;*/
    /*background-image: url("https://assets.codepen.io/37111/cat-eyes.jpg");*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    filter: brightness(50%);
    z-index: -1;
  }
}

.entry-summary, .main {
  max-width: 800px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  /*font-size: clamp(16px, 4vw, 40px);*/
  /*font-size: clamp(5.3px, 1.33vw, 13.3px);*/
  font-size: clamp(8px, 2vw, 20px);
  text-shadow: 1px 1px 2px #000;
}
.paginas_web{
  margin: 15px 0px 15px 0px;
  font-size: clamp(8px, 2vw, 20px);
}
article{
  margin: clamp(15px, 4vw, 60px) 0;
}
label[for="comment"] {
  display: block;
  margin-bottom: 5px; /* espacio opcional */
}
input,
textarea {
  border: 1px solid #fff; /* Borde blanco de 1px */
  outline: none; /* Opcional: quita el borde de enfoque predeterminado */
  background-color: transparent; /* Opcional: que el fondo sea transparente */
  color: #fff; /* Opcional: que el texto sea blanco si quieres */
}
input:focus,
textarea:focus {
  border-color: #fff; /* Mantener el borde blanco al enfocar */
  box-shadow: 0 0 0 1px #fff; /* Opcional: efecto sutil al enfocar */
}

.hero {
  height: 100vh;
  &__inner {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  &__image-cont {
    position: relative;
    overflow: hidden;
    &:not(:last-child):after {
      content: "";
      position: absolute;
      right: 0px;
      background-color: #111111;
      height: 100%;
      top: 0;
      width: 2.5px;
      z-index: 999;
    }

    img,
    .anim-swipe {
      position: absolute;
      width: 700%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  .anim-swipe {
    width: 100%;
    background-color: #111111;
  }

  &__image-cont:nth-child(1) img {
    left: -100%;
  }
  &__image-cont:nth-child(2) img {
    left: -200%;
  }
  &__image-cont:nth-child(3) img {
    left: -300%;
  }
  &__image-cont:nth-child(4) img {
    left: -400%;
  }
  &__image-cont:nth-child(5) img {
    left: -500%;
  }
  &__image-cont:nth-child(6) img {
    left: -600%;
  }
}

.spacer {
  height: 300vh;
}

.scroll {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
